In [72]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pickle
import os

In [73]:
# Read CSV files into pandas DataFrames
stations_dynamic_df = pd.read_csv("ExportedData/stations_dynamic.csv")
stations_static_df = pd.read_csv("ExportedData/stations_static.csv")
weather_data_df = pd.read_csv("ExportedData/weather_data.csv")

# Display the first few rows of each DataFrame to understand the data structure
print("Stations Dynamic Data:")
print(stations_dynamic_df.head())
print("\nStations Static Data:")
print(stations_static_df.head())
print("\nWeather Data:")
print(weather_data_df.head())

# Perform some simple analysis
# Example: Calculate the average temperature from weather data
average_temperature = weather_data_df["temperature"].mean()
print("\nAverage Temperature:", average_temperature)

# Example: Count the number of bike stations
num_stations = len(stations_static_df)
print("Number of Bike Stations:", num_stations)

# Example: Find the most common main events in weather data
common_main_events = weather_data_df["main_event"].value_counts().head()
print("\nMost Common Main Events:")
print(common_main_events)

Stations Dynamic Data:
   id  number                  name  banking  bonus status  \
0   1      42      SMITHFIELD NORTH        0      0   OPEN
1   2      30  PARNELL SQUARE NORTH        0      0   OPEN
2   3      54        CLONMEL STREET        0      0   OPEN
3   4     108         AVONDALE ROAD        0      0   OPEN
4   5      20     JAMES STREET EAST        0      0   OPEN

           last_update           api_update  available_bikes  \
0  2024-02-21 00:59:33  2024-02-21 01:00:25               30
1  2024-02-21 00:51:51  2024-02-21 01:00:25                0
2  2024-02-21 00:50:28  2024-02-21 01:00:25                3
3  2024-02-21 00:51:03  2024-02-21 01:00:25               25
4  2024-02-21 00:52:14  2024-02-21 01:00:25                0

   available_bike_stands  bike_stands
0                      0           30
1                     20           20
2                     30           33
3                     10           35
4                     30           30

Stations Static Data:
   place_id  place_name         place_address  place_latitude  \
0         1          42      Smithfield North       53.349562
1         2          30  Parnell Square North       53.353742
2         3          54        Clonmel Street       53.336021
3         4         108         Avondale Road       53.359405
4         5          20     James Street East       53.336597

   place_longitude           api_update
0        -6.278198  2024-02-21 01:03:56
1        -6.265301  2024-02-21 01:03:56
2        -6.262980  2024-02-21 01:03:56
3        -6.276142  2024-02-21 01:03:56
4        -6.248109  2024-02-21 01:03:56

Weather Data:
   id            timestamp  temperature main_event  rain_hour_day  feels_like  \
0   1  2024-02-21 00:58:15       282.26        NaN            NaN      278.39
1   2  2024-02-21 01:10:02       282.26        NaN            NaN      278.39
2   3  2024-02-21 01:11:02       282.26        NaN            NaN      278.39
3   4  2024-02-21 01:11:02       282.26        NaN            NaN      278.39
4   5  2024-02-21 01:14:01       282.26       Rain           6.87      278.39

   humidity  wind_speed      description
0        93         9.1  overcast clouds
1        93         9.1       light rain
2        93         9.1       light rain
3        93         9.1       light rain
4        93         9.1       light rain

Average Temperature: 8.348024122807017
Number of Bike Stations: 114

Most Common Main Events:
main_event
Clouds     7264
Rain        942
Drizzle     510
Clear       200
Mist        170
Name: count, dtype: int64

In [74]:
stations_dynamic_df.drop(["banking", "bonus", "status", "api_update"], axis=1, inplace=True)
stations_dynamic_df['last_update'] = pd.to_datetime(stations_dynamic_df['last_update'])
stations_dynamic_df['last_update'] = stations_dynamic_df['last_update'].dt.round('H')

weather_data_df = weather_data_df.dropna(subset=["main_event"]) #drop problematic rows
weather_data_df = weather_data_df[weather_data_df["temperature"] <= 60]
weather_data_df.drop(["description"], axis=1, inplace=True)


weather_data_df['timestamp'] = pd.to_datetime(weather_data_df['timestamp'])
weather_data_df['timestamp'] = weather_data_df['timestamp'].dt.round('H')

C:\Users\35385\AppData\Local\Temp\ipykernel_14536\4036771299.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  stations_dynamic_df['last_update'] = stations_dynamic_df['last_update'].dt.round('H')
C:\Users\35385\AppData\Local\Temp\ipykernel_14536\4036771299.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  weather_data_df['timestamp'] = weather_data_df['timestamp'].dt.round('H')

In [75]:
stations_dynamic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091094 entries, 0 to 1091093
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     1091094 non-null  int64
 1   number                 1091094 non-null  int64
 2   name                   1091094 non-null  object
 3   last_update            1091094 non-null  datetime64[ns]
 4   available_bikes        1091094 non-null  int64
 5   available_bike_stands  1091094 non-null  int64
 6   bike_stands            1091094 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 58.3+ MB

In [76]:
weather_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9109 entries, 11 to 9119
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9109 non-null   int64
 1   timestamp      9109 non-null   datetime64[ns]
 2   temperature    9109 non-null   float64
 3   main_event     9109 non-null   object
 4   rain_hour_day  9109 non-null   float64
 5   feels_like     9109 non-null   float64
 6   humidity       9109 non-null   int64
 7   wind_speed     9109 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 640.5+ KB

In [77]:
# One-hot encode main_event and description
weather_data_df = pd.get_dummies(weather_data_df, columns=['main_event'])

# Confirming changes
weather_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9109 entries, 11 to 9119
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  9109 non-null   int64
 1   timestamp           9109 non-null   datetime64[ns]
 2   temperature         9109 non-null   float64
 3   rain_hour_day       9109 non-null   float64
 4   feels_like          9109 non-null   float64
 5   humidity            9109 non-null   int64
 6   wind_speed          9109 non-null   float64
 7   main_event_Clear    9109 non-null   bool
 8   main_event_Clouds   9109 non-null   bool
 9   main_event_Drizzle  9109 non-null   bool
 10  main_event_Mist     9109 non-null   bool
 11  main_event_Rain     9109 non-null   bool
 12  main_event_Snow     9109 non-null   bool
dtypes: bool(6), datetime64[ns](1), float64(4), int64(2)
memory usage: 622.7 KB

In [78]:
print("Stations Dynamic Data:")
print(stations_dynamic_df.head(150))
print("\nWeather Data:")
print(weather_data_df.head(150))

Stations Dynamic Data:
      id  number                  name         last_update  available_bikes  \
0      1      42      SMITHFIELD NORTH 2024-02-21 01:00:00               30
1      2      30  PARNELL SQUARE NORTH 2024-02-21 01:00:00                0
2      3      54        CLONMEL STREET 2024-02-21 01:00:00                3
3      4     108         AVONDALE ROAD 2024-02-21 01:00:00               25
4      5      20     JAMES STREET EAST 2024-02-21 01:00:00                0
..   ...     ...                   ...                 ...              ...
145  146     113  MERRION SQUARE SOUTH 2024-02-21 01:00:00                0
146  147      91       SOUTH DOCK ROAD 2024-02-21 01:00:00               21
147  148      99             CITY QUAY 2024-02-21 01:00:00               15
148  149       9      EXCHEQUER STREET 2024-02-21 01:00:00                0
149  150      67             THE POINT 2024-02-21 01:00:00               10

     available_bike_stands  bike_stands
0                        0           30
1                       20           20
2                       30           33
3                       10           35
4                       30           30
..                     ...          ...
145                     40           40
146                      9           30
147                     15           30
148                     24           24
149                     30           40

[150 rows x 7 columns]

Weather Data:
      id           timestamp  temperature  rain_hour_day  feels_like  \
11    12 2024-02-21 11:00:00         9.42           9.30        5.97
12    13 2024-02-21 11:00:00         9.42           9.30        5.97
13    14 2024-02-21 11:00:00         9.42           9.30        5.97
14    15 2024-02-21 12:00:00         9.43           9.30        5.95
15    16 2024-02-21 12:00:00         9.50           9.30        6.04
..   ...                 ...          ...            ...         ...
156  157 2024-02-22 00:00:00         9.63           4.29        5.77
157  158 2024-02-22 00:00:00         9.63           3.80        5.77
158  159 2024-02-22 00:00:00         9.64           0.76        6.15
159  160 2024-02-22 00:00:00         9.65           0.51        6.16
160  161 2024-02-22 00:00:00         9.65           0.51        6.16

     humidity  wind_speed  main_event_Clear  main_event_Clouds  \
11         76        7.79             False               True
12         76        7.79             False               True
13         76        7.79             False               True
14         76        7.94             False               True
15         76        7.94             False               True
..        ...         ...               ...                ...
156        78        9.77             False              False
157        78        9.77             False              False
158        77        8.23             False              False
159        78        8.23             False              False
160        78        8.23             False              False

     main_event_Drizzle  main_event_Mist  main_event_Rain  main_event_Snow
11                False            False            False            False
12                False            False            False            False
13                False            False            False            False
14                False            False            False            False
15                False            False            False            False
..                  ...              ...              ...              ...
156               False            False             True            False
157               False            False             True            False
158               False            False             True            False
159               False            False             True            False
160               False            False             True            False

[150 rows x 13 columns]

In [79]:
merged_df = pd.merge_asof(stations_dynamic_df.sort_values('last_update'),
                          weather_data_df.sort_values('timestamp'),
                          left_on='last_update',
                          right_on='timestamp',
                          direction='nearest')

In [80]:
merged_df.drop(['timestamp'], axis=1, inplace=True)

In [81]:
print(merged_df.head(500))

     id_x  number                  name         last_update  available_bikes  \
0       1      42      SMITHFIELD NORTH 2024-02-21 01:00:00               30
1    1030     108         AVONDALE ROAD 2024-02-21 01:00:00               25
2    1029      54        CLONMEL STREET 2024-02-21 01:00:00                3
3    1028      30  PARNELL SQUARE NORTH 2024-02-21 01:00:00                0
4    1027      42      SMITHFIELD NORTH 2024-02-21 01:00:00               30
..    ...     ...                   ...                 ...              ...
495  1523      97       KILMAINHAM GAOL 2024-02-21 01:00:00               40
496  1522       5      CHARLEMONT PLACE 2024-02-21 01:00:00               37
497  1519     116            BROADSTONE 2024-02-21 01:00:00               11
498  1516      99             CITY QUAY 2024-02-21 01:00:00               15
499  1515      91       SOUTH DOCK ROAD 2024-02-21 01:00:00               21

     available_bike_stands  bike_stands  id_y  temperature  rain_hour_day  \
0                        0           30    12         9.42            9.3
1                       10           35    12         9.42            9.3
2                       30           33    12         9.42            9.3
3                       20           20    12         9.42            9.3
4                        0           30    12         9.42            9.3
..                     ...          ...   ...          ...            ...
495                      0           40    12         9.42            9.3
496                      3           40    12         9.42            9.3
497                     19           30    12         9.42            9.3
498                     15           30    12         9.42            9.3
499                      9           30    12         9.42            9.3

     feels_like  humidity  wind_speed  main_event_Clear  main_event_Clouds  \
0          5.97        76        7.79             False               True
1          5.97        76        7.79             False               True
2          5.97        76        7.79             False               True
3          5.97        76        7.79             False               True
4          5.97        76        7.79             False               True
..          ...       ...         ...               ...                ...
495        5.97        76        7.79             False               True
496        5.97        76        7.79             False               True
497        5.97        76        7.79             False               True
498        5.97        76        7.79             False               True
499        5.97        76        7.79             False               True

     main_event_Drizzle  main_event_Mist  main_event_Rain  main_event_Snow
0                 False            False            False            False
1                 False            False            False            False
2                 False            False            False            False
3                 False            False            False            False
4                 False            False            False            False
..                  ...              ...              ...              ...
495               False            False            False            False
496               False            False            False            False
497               False            False            False            False
498               False            False            False            False
499               False            False            False            False

[500 rows x 19 columns]

In [82]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091094 entries, 0 to 1091093
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id_x                   1091094 non-null  int64
 1   number                 1091094 non-null  int64
 2   name                   1091094 non-null  object
 3   last_update            1091094 non-null  datetime64[ns]
 4   available_bikes        1091094 non-null  int64
 5   available_bike_stands  1091094 non-null  int64
 6   bike_stands            1091094 non-null  int64
 7   id_y                   1091094 non-null  int64
 8   temperature            1091094 non-null  float64
 9   rain_hour_day          1091094 non-null  float64
 10  feels_like             1091094 non-null  float64
 11  humidity               1091094 non-null  int64
 12  wind_speed             1091094 non-null  float64
 13  main_event_Clear       1091094 non-null  bool
 14  main_event_Clouds      1091094 non-null  bool
 15  main_event_Drizzle     1091094 non-null  bool
 16  main_event_Mist        1091094 non-null  bool
 17  main_event_Rain        1091094 non-null  bool
 18  main_event_Snow        1091094 non-null  bool
dtypes: bool(6), datetime64[ns](1), float64(4), int64(7), object(1)
memory usage: 114.5+ MB

In [83]:
def predict_bike_availability(dataframe, number):
    # Filter DataFrame based on the provided station number
    station_df = dataframe[dataframe['number'] == number]
    
    # Features and target variable
    X = station_df.drop(columns=['available_bikes', 'last_update', 'id_x', 'id_y', 'name', 'number'])
    y = station_df['available_bikes']
    
    # Splitting the data into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=42)
    
    # Initialize and fit the model
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    # Predicting on the test set
    y_pred = model.predict(X_test)
    
    # Model evaluation
    # mse = mean_squared_error(y_test, y_pred)
    # rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    
    # print("Mean Squared Error:", mse)
    # print("Root Mean Squared Error:", rmse)
    print("R^2 Score:", r2)
    
    # Returning the trained model, coefficients, and intercept
    return model, model.coef_, model.intercept_

In [84]:
# List of all station numbers 
station_numbers = merged_df['number'].unique()

# Loop through each station number
i = 0
while i < len(station_numbers):
    # Get the current station number
    number = station_numbers[i]
    
    # Filter merged_df to get the row for the current station number
    station_row = merged_df[merged_df['number'] == number].iloc[0]  # Assuming each number corresponds to a unique station
    
    # Get the name of the station
    name = station_row['name']
    
    # Call the predict_bike_availability function for the current station number
    print(f"Station Number: {number}, Station Name: {name}")
    trained_model, coefficients, intercept = predict_bike_availability(merged_df, number)
    
    # Increment the index to move to the next station number
    i += 1

Station Number: 42, Station Name: SMITHFIELD NORTH
R^2 Score: 0.9987622139429126
Station Number: 108, Station Name: AVONDALE ROAD
R^2 Score: 0.9996992008433023
Station Number: 54, Station Name: CLONMEL STREET
R^2 Score: 0.9992315973013252
Station Number: 30, Station Name: PARNELL SQUARE NORTH
R^2 Score: 0.4088721653663133
Station Number: 88, Station Name: BLACKHALL PLACE
R^2 Score: 0.9993802664230343
Station Number: 21, Station Name: LEINSTER STREET SOUTH
R^2 Score: 0.9994950418451146
Station Number: 92, Station Name: HEUSTON BRIDGE (NORTH)
R^2 Score: 0.9998716963714894
Station Number: 83, Station Name: EMMET ROAD
R^2 Score: 0.9989150567824596
Station Number: 39, Station Name: WILTON TERRACE
R^2 Score: 0.9980540938154983
Station Number: 20, Station Name: JAMES STREET EAST
R^2 Score: 0.9996744989705384
Station Number: 28, Station Name: MOUNTJOY SQUARE WEST
R^2 Score: 0.9996474327583483
Station Number: 29, Station Name: ORMOND QUAY UPPER
R^2 Score: 0.9986818242855903
Station Number: 40, Station Name: JERVIS STREET
R^2 Score: 0.9995873906017734
Station Number: 3, Station Name: BOLTON STREET
R^2 Score: 0.9991003356060395
Station Number: 41, Station Name: HARCOURT TERRACE
R^2 Score: 0.997643297325462
Station Number: 80, Station Name: ST JAMES HOSPITAL (LUAS)
R^2 Score: 0.9998037785446872
Station Number: 57, Station Name: GRATTAN STREET
R^2 Score: 0.9978154255964078
Station Number: 89, Station Name: FITZWILLIAM SQUARE EAST
R^2 Score: 0.9997170590029028
Station Number: 44, Station Name: UPPER SHERRARD STREET
R^2 Score: 0.999933012671789
Station Number: 33, Station Name: PRINCES STREET / O'CONNELL STREET
R^2 Score: 0.9983214362564337
Station Number: 103, Station Name: GRANGEGORMAN LOWER (SOUTH)
R^2 Score: 0.9989091963144962
Station Number: 107, Station Name: CHARLEVILLE ROAD
R^2 Score: 0.9998471886051027
Station Number: 56, Station Name: MOUNT STREET LOWER
R^2 Score: 0.999437422104936
Station Number: 18, Station Name: GRANTHAM STREET
R^2 Score: 0.9986366735237407
Station Number: 45, Station Name: DEVERELL PLACE
R^2 Score: 0.9996028207680561
Station Number: 17, Station Name: GOLDEN LANE
R^2 Score: 0.9976756647906116
Station Number: 11, Station Name: EARLSFORT TERRACE
R^2 Score: 0.9993695256971753
Station Number: 90, Station Name: BENSON STREET
R^2 Score: 0.9989381210217585
Station Number: 84, Station Name: BROOKFIELD ROAD
R^2 Score: 0.9992118975543537
Station Number: 87, Station Name: COLLINS BARRACKS MUSEUM
R^2 Score: 0.5059976651393172
Station Number: 74, Station Name: OLIVER BOND STREET
R^2 Score: 0.9991602821755856
Station Number: 68, Station Name: HANOVER QUAY
R^2 Score: 0.9981555543234379
Station Number: 112, Station Name: NORTH CIRCULAR ROAD (O'CONNELL'S)
R^2 Score: 0.9997993474790101
Station Number: 6, Station Name: CHRISTCHURCH PLACE
R^2 Score: 0.5070658523886953
Station Number: 106, Station Name: RATHDOWN ROAD
R^2 Score: 0.9969903200393438
Station Number: 1, Station Name: CLARENDON ROW
R^2 Score: 0.9996825087136835
Station Number: 14, Station Name: FOWNES STREET UPPER
R^2 Score: 0.9990631270285498
Station Number: 98, Station Name: FREDERICK STREET SOUTH
R^2 Score: 0.9997803010989759
Station Number: 31, Station Name: PARNELL STREET
R^2 Score: 0.9995324382570614
Station Number: 43, Station Name: PORTOBELLO ROAD
R^2 Score: 0.9996018301898678
Station Number: 13, Station Name: FITZWILLIAM SQUARE WEST
R^2 Score: 0.9982198569807945
Station Number: 48, Station Name: EXCISE WALK
R^2 Score: 0.9988385313925139
Station Number: 52, Station Name: YORK STREET EAST
R^2 Score: 0.9991024915392067
Station Number: 32, Station Name: PEARSE STREET
R^2 Score: 0.9991088326216477
Station Number: 23, Station Name: CUSTOM HOUSE
R^2 Score: 0.34479397426841174
Station Number: 114, Station Name: WILTON TERRACE (PARK)
R^2 Score: 0.9984314456540095
Station Number: 85, Station Name: ROTHE ABBEY
R^2 Score: 0.9996385279655703
Station Number: 64, Station Name: SANDWITH STREET
R^2 Score: 0.9993481374920691
Station Number: 51, Station Name: YORK STREET WEST
R^2 Score: 0.9995766407991377
Station Number: 25, Station Name: MERRION SQUARE EAST
R^2 Score: 0.9987068193524783
Station Number: 69, Station Name: GRAND CANAL DOCK
R^2 Score: 0.9971826904305869
Station Number: 79, Station Name: ECCLES STREET EAST
R^2 Score: 0.999815280383845
Station Number: 71, Station Name: KEVIN STREET
R^2 Score: 0.998761448907658
Station Number: 76, Station Name: MARKET STREET SOUTH
R^2 Score: 0.9996226569349708
Station Number: 82, Station Name: MOUNT BROWN
R^2 Score: 0.9985434418980974
Station Number: 96, Station Name: KILMAINHAM LANE
R^2 Score: 0.9992940941983636
Station Number: 16, Station Name: GEORGES QUAY
R^2 Score: 0.9977225755287998
Station Number: 37, Station Name: ST. STEPHEN'S GREEN SOUTH
R^2 Score: 0.9973902196234842
Station Number: 27, Station Name: MOLESWORTH STREET
R^2 Score: 0.9984446539210591
Station Number: 117, Station Name: HANOVER QUAY EAST
R^2 Score: 0.9994113498981725
Station Number: 47, Station Name: HERBERT STREET
R^2 Score: 0.9996438018074826
Station Number: 115, Station Name: KILLARNEY STREET
R^2 Score: 0.99954774024372
Station Number: 101, Station Name: KING STREET NORTH
R^2 Score: 0.9998003208026162
Station Number: 104, Station Name: GRANGEGORMAN LOWER (CENTRAL)
R^2 Score: 0.9997558301892613
Station Number: 66, Station Name: NEW CENTRAL BANK
R^2 Score: 0.9992699989856809
Station Number: 58, Station Name: SIR PATRICK DUN'S
R^2 Score: 0.9993060753214708
Station Number: 53, Station Name: NEWMAN HOUSE
R^2 Score: 0.9995797228587344
Station Number: 38, Station Name: TALBOT STREET
R^2 Score: 0.9974991595877637
Station Number: 8, Station Name: CUSTOM HOUSE QUAY
R^2 Score: 0.9985869631195987
Station Number: 109, Station Name: BUCKINGHAM STREET LOWER
R^2 Score: 0.999174550150006
Station Number: 59, Station Name: DENMARK STREET GREAT
R^2 Score: 0.9994827875424938
Station Number: 94, Station Name: HEUSTON STATION (CAR PARK)
R^2 Score: 0.9984605615508866
Station Number: 24, Station Name: CATHAL BRUGHA STREET
R^2 Score: 0.9982338297107619
Station Number: 100, Station Name: HEUSTON BRIDGE (SOUTH)
R^2 Score: 0.9997013504575982
Station Number: 10, Station Name: DAME STREET
R^2 Score: 0.9946088964150515
Station Number: 35, Station Name: SMITHFIELD
R^2 Score: 0.9988471767820897
Station Number: 86, Station Name: PARKGATE STREET
R^2 Score: 0.9997351835540578
Station Number: 15, Station Name: HARDWICKE STREET
R^2 Score: 0.9999068395287772
Station Number: 65, Station Name: CONVENTION CENTRE
R^2 Score: 0.9990577207410346
Station Number: 26, Station Name: MERRION SQUARE WEST
R^2 Score: 0.9991109562518016
Station Number: 111, Station Name: MOUNTJOY SQUARE EAST
R^2 Score: 0.9996778105297677
Station Number: 95, Station Name: ROYAL HOSPITAL
R^2 Score: 0.9995177859339475
Station Number: 75, Station Name: JAMES STREET
R^2 Score: 0.9996278464570642
Station Number: 78, Station Name: MATER HOSPITAL
R^2 Score: 0.999743394212922
Station Number: 34, Station Name: PORTOBELLO HARBOUR
R^2 Score: 0.9996019054964794
Station Number: 12, Station Name: ECCLES STREET
R^2 Score: 0.9962120981421756
Station Number: 110, Station Name: PHIBSBOROUGH ROAD
R^2 Score: 0.9996863216462251
Station Number: 50, Station Name: GEORGES LANE
R^2 Score: 0.9993894915185224
Station Number: 22, Station Name: TOWNSEND STREET
R^2 Score: 0.9984543639724384
Station Number: 93, Station Name: HEUSTON STATION (CENTRAL)
R^2 Score: 0.9996504578728551
Station Number: 36, Station Name: ST. STEPHEN'S GREEN EAST
R^2 Score: 0.9985323686461198
Station Number: 105, Station Name: GRANGEGORMAN LOWER (NORTH)
R^2 Score: 0.9991665594715815
Station Number: 2, Station Name: BLESSINGTON STREET
R^2 Score: 0.9995910700657845
Station Number: 102, Station Name: WESTERN WAY
R^2 Score: 0.9999205107692772
Station Number: 72, Station Name: JOHN STREET WEST
R^2 Score: 0.9996054911655533
Station Number: 113, Station Name: MERRION SQUARE SOUTH
R^2 Score: 0.9992111666814975
Station Number: 63, Station Name: FENIAN STREET
R^2 Score: 0.9995270486876145
Station Number: 60, Station Name: NORTH CIRCULAR ROAD
R^2 Score: 0.9996951278683716
Station Number: 7, Station Name: HIGH STREET
R^2 Score: 0.9998633292955054
Station Number: 19, Station Name: HERBERT PLACE
R^2 Score: 0.9989910925251302
Station Number: 49, Station Name: GUILD STREET
R^2 Score: 0.9992674686404129
Station Number: 4, Station Name: GREEK STREET
R^2 Score: 0.9991779199394644
Station Number: 73, Station Name: FRANCIS STREET
R^2 Score: 0.998824608609187
Station Number: 77, Station Name: WOLFE TONE STREET
R^2 Score: 0.9997600308645985
Station Number: 97, Station Name: KILMAINHAM GAOL
R^2 Score: 0.9998293612517055
Station Number: 5, Station Name: CHARLEMONT PLACE
R^2 Score: 0.9997172083099023
Station Number: 62, Station Name: LIME STREET
R^2 Score: 0.999634585148332
Station Number: 55, Station Name: HATCH STREET
R^2 Score: 0.999926250993127
Station Number: 116, Station Name: BROADSTONE
R^2 Score: 0.9995287363210512
Station Number: 67, Station Name: THE POINT
R^2 Score: 0.9988122163367833
Station Number: 9, Station Name: EXCHEQUER STREET
R^2 Score: 0.998037838968541
Station Number: 99, Station Name: CITY QUAY
R^2 Score: 0.9996486264817682
Station Number: 91, Station Name: SOUTH DOCK ROAD
R^2 Score: 0.9993679563532882
Station Number: 61, Station Name: HARDWICKE PLACE
R^2 Score: 0.9998599170994822

In [85]:
folder_name = "pickles"

def save_model(model, filename):
    with open(filename, 'wb') as file:
        pickle.dump(model, file)

# Iterate over each station number
for number in merged_df['number'].unique():
    # Filter the DataFrame for the current station number
    station_df = merged_df[merged_df['number'] == number]
    
    # Train the model for the current station
    trained_model, _, _ = predict_bike_availability(station_df, number)
    
    # Define the filename including the folder path
    filename = os.path.join(folder_name, f'linear_regression_model_station_{number}.pkl')
    
    # Save the trained model object as a pickle file
    save_model(trained_model, filename)

R^2 Score: 0.9987622139429126
R^2 Score: 0.9996992008433023
R^2 Score: 0.9992315973013252
R^2 Score: 0.4088721653663133
R^2 Score: 0.9993802664230343
R^2 Score: 0.9994950418451146
R^2 Score: 0.9998716963714894
R^2 Score: 0.9989150567824596
R^2 Score: 0.9980540938154983
R^2 Score: 0.9996744989705384
R^2 Score: 0.9996474327583483
R^2 Score: 0.9986818242855903
R^2 Score: 0.9995873906017734
R^2 Score: 0.9991003356060395
R^2 Score: 0.997643297325462
R^2 Score: 0.9998037785446872
R^2 Score: 0.9978154255964078
R^2 Score: 0.9997170590029028
R^2 Score: 0.999933012671789
R^2 Score: 0.9983214362564337
R^2 Score: 0.9989091963144962
R^2 Score: 0.9998471886051027
R^2 Score: 0.999437422104936
R^2 Score: 0.9986366735237407
R^2 Score: 0.9996028207680561
R^2 Score: 0.9976756647906116
R^2 Score: 0.9993695256971753
R^2 Score: 0.9989381210217585
R^2 Score: 0.9992118975543537
R^2 Score: 0.5059976651393172
R^2 Score: 0.9991602821755856
R^2 Score: 0.9981555543234379
R^2 Score: 0.9997993474790101
R^2 Score: 0.5070658523886953
R^2 Score: 0.9969903200393438
R^2 Score: 0.9996825087136835
R^2 Score: 0.9990631270285498
R^2 Score: 0.9997803010989759
R^2 Score: 0.9995324382570614
R^2 Score: 0.9996018301898678
R^2 Score: 0.9982198569807945
R^2 Score: 0.9988385313925139
R^2 Score: 0.9991024915392067
R^2 Score: 0.9991088326216477
R^2 Score: 0.34479397426841174
R^2 Score: 0.9984314456540095
R^2 Score: 0.9996385279655703
R^2 Score: 0.9993481374920691
R^2 Score: 0.9995766407991377
R^2 Score: 0.9987068193524783
R^2 Score: 0.9971826904305869
R^2 Score: 0.999815280383845
R^2 Score: 0.998761448907658
R^2 Score: 0.9996226569349708
R^2 Score: 0.9985434418980974
R^2 Score: 0.9992940941983636
R^2 Score: 0.9977225755287998
R^2 Score: 0.9973902196234842
R^2 Score: 0.9984446539210591
R^2 Score: 0.9994113498981725
R^2 Score: 0.9996438018074826
R^2 Score: 0.99954774024372
R^2 Score: 0.9998003208026162
R^2 Score: 0.9997558301892613
R^2 Score: 0.9992699989856809
R^2 Score: 0.9993060753214708
R^2 Score: 0.9995797228587344
R^2 Score: 0.9974991595877637
R^2 Score: 0.9985869631195987
R^2 Score: 0.999174550150006
R^2 Score: 0.9994827875424938
R^2 Score: 0.9984605615508866
R^2 Score: 0.9982338297107619
R^2 Score: 0.9997013504575982
R^2 Score: 0.9946088964150515
R^2 Score: 0.9988471767820897
R^2 Score: 0.9997351835540578
R^2 Score: 0.9999068395287772
R^2 Score: 0.9990577207410346
R^2 Score: 0.9991109562518016
R^2 Score: 0.9996778105297677
R^2 Score: 0.9995177859339475
R^2 Score: 0.9996278464570642
R^2 Score: 0.999743394212922
R^2 Score: 0.9996019054964794
R^2 Score: 0.9962120981421756
R^2 Score: 0.9996863216462251
R^2 Score: 0.9993894915185224
R^2 Score: 0.9984543639724384
R^2 Score: 0.9996504578728551
R^2 Score: 0.9985323686461198
R^2 Score: 0.9991665594715815
R^2 Score: 0.9995910700657845
R^2 Score: 0.9999205107692772
R^2 Score: 0.9996054911655533
R^2 Score: 0.9992111666814975
R^2 Score: 0.9995270486876145
R^2 Score: 0.9996951278683716
R^2 Score: 0.9998633292955054
R^2 Score: 0.9989910925251302
R^2 Score: 0.9992674686404129
R^2 Score: 0.9991779199394644
R^2 Score: 0.998824608609187
R^2 Score: 0.9997600308645985
R^2 Score: 0.9998293612517055
R^2 Score: 0.9997172083099023
R^2 Score: 0.999634585148332
R^2 Score: 0.999926250993127
R^2 Score: 0.9995287363210512
R^2 Score: 0.9988122163367833
R^2 Score: 0.998037838968541
R^2 Score: 0.9996486264817682
R^2 Score: 0.9993679563532882
R^2 Score: 0.9998599170994822